---
title: Mapa del sitio
permalink: /mapa-del-sitio/
eleventyExcludeFromCollections: true
layout: layouts/pagina_simple.njk
---

{%- css %}{% include "public/css/mapadelsitio.css" %}{% endcss %}

<ul class="mapadelsitio">
  {% for item in menus.menuPpal.items %}
    {% if item.slug == "/" %}
      <li class="nav-item">
        <a href="/">{{ item.text }}</a>
      </li>
    {% else %}
      {% set link = ["/", item.slug, "/"] | join %}
      <li class="">
        <a href="{{ link }}">{{ item.text }}</a>
      {% endif %}
      {% if item.dropdown %}
        <ul>
          {% for subitem in item.dropdown %}
            {% set sublink = ["/", subitem.slug, "/"] | join %}
            <li class="nav-item">
              <a href="{{ sublink }}">{{ subitem.text }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if (item.text == "Blog") %}
        <ul>
          {% for subitem in collections.blog %}
            <li class="nav-item">
              <a href="{{ subitem.url }}">{{ subitem.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  {% for item in menus.menuPie.items %}
    {% set link = ["/", item.slug, "/"] | join %}
    <li class="">
      <a href="{{ link }}">{{ item.text }}</a>
      {% if (item.text == "Ayuda a domicilio") %}
        <ul>
          {% for subitem in collections.servicioslocales %}
            <li class="nav-item">
              <a href="{{ subitem.url }}">{{ subitem.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>