.contenido.limites .formulario {
	background: var(--color-terciario);
	padding: 2rem;
	grid-column: normal;
	margin-top: 3rem;
}
.formulario .titulo {
	margin: 0.5em 0;
}
.formulario .titulo + p {
	font-size: var(--fs0);
}
.formulario .campos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
	gap: 1rem;
}
.formulario .textarea {
	grid-column: 1 / -1;
}
.formulario .campos input {
	width: 100%;
	padding: 0.3em 0.7em;
	border: 1px solid var(--color-texto-alt1);
}
.formulario .campos textarea {
	width: 100%;
	height: 10rem;
	padding: 0.3em 0.7em;
	resize: none;
	border: 1px solid var(--color-texto-alt1);
}
.formulario .legal {
	margin-block: 2rem;
}
.formulario .legal label {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.formulario .legal .icono {
	width: 2rem;
	fill: currentColor;
}
.formulario .legal input {
	display: none;
}
.formulario .legal input + label .checked {
	display: none;
}
.formulario .legal input:checked + label .checked {
	display: block;
}
.formulario .legal input:checked + label .unchecked {
	display: none;
}
.contenido.limites .formulario a {
	color: var(--color-texto-alt1);
	transition: color 300ms linear;
}
.contenido.limites .formulario a:hover {
	color: var(--color-secundario);
}
.enviar .boton {
	margin: 0 0 0 auto;
}
.boton {
	text-decoration: none;
	font-size: var(--fs1);
	padding: 0.3em 1.5em;
	background-color: var(--color-secundario);
	color: var(--color-fondo);
	border: 2px solid var(--color-secundario);
	border-radius: 0.25rem;
	margin: 1.5em auto auto;
	display: flex;
	cursor: pointer;
	transition: 300ms;
	width: fit-content;
}
.boton:hover {
	background-color: var(--color-texto);
	border: 2px solid var(--color-texto);
}
.formulario form:invalid .boton {
	opacity: 0.3;
	pointer-events: none;
}
