.mapadelsitio {
	grid-column: normal;
	list-style: none;
}
.mapadelsitio li {
	padding-left: 1.75em;
	position: relative;
	isolation: isolate;
}
.mapadelsitio li::before {
	content: "";
	position: absolute;
	top: 0.3em;
	left: 0.3em;
	background-color: var(--color-primario);
	height: 1em;
	width: 1em;
	clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
	z-index: -1;
}
.mapadelsitio a {
	color: var(--color-texto);
	transition: color 300ms linear;
	text-decoration: none;
}
.mapadelsitio a:hover {
	color: var(--color-primario);
}
.mapadelsitio li ul {
	margin-top: 0.3em;
	list-style: none;
	padding-inline: 0;
}
.mapadelsitio li + li {
	margin-top: 0.3em;
}
.mapadelsitio li:last-child {
	margin-bottom: 0.6em;
}
