---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: ''
---
# www.robotstxt.org

User-agent: *
Disallow: /.well-known/
Disallow: /css/
Disallow: /favicon/
Disallow: /feed/
Disallow: /fonts/
Disallow: /images/
Disallow: /img/
Disallow: /js/
Disallow: /tags/

# Permitir indexar el resto del sitio
Allow: /

# Sitemap
Sitemap: {{ metadata.url }}sitemap.xml