<div class="accordion-body">
    <div class="accordion">
        <div class="containerAcordeon">
            <div class="labelAcordeon">ACOMPAÑAMIENTO DE MAYORES 24H</div>
            <div class="contentAcordeon">En todo momento, las 24 horas del día cuidamos de nuestros mayores</div>
        </div>
        <div class="containerAcordeon">
            <div class="labelAcordeon">CUIDADOS NUTRICIONALES</div>
            <div class="contentAcordeon">Compra,cocina. Elaboraciones de menú según indicaciones médicas.</div>
        </div>
        <div class="containerAcordeon">
            <div class="labelAcordeon">CUIDADOS DE MAYORES</div>
            <div class="contentAcordeon">Higiene y aseo diario personal. Cambio pañal. Vestido. Calzado.</div>
        </div>
        <div class="containerAcordeon">
            <div class="labelAcordeon">ASISTENCIA A MAYORES</div>
            <div class="contentAcordeon">Levantar/acostar al mayor.</div>
        </div>
        <div class="containerAcordeon">
            <div class="labelAcordeon">LIMPIEZA DEL HOGAR</div>
            <div class="contentAcordeon">Limpieza general del hogar.</div>
        </div>
        <div class="containerAcordeon">
            <div class="labelAcordeon">COLADA Y PLANCHA</div>
            <div class="contentAcordeon">Cubrimos todas las necesidades de limpieza y planchado.</div>
        </div>
        <div class="containerAcordeon">
            <div class="labelAcordeon">PASEO Y ACOMPAÑAMIENTO</div>
            <div class="contentAcordeon">Visitas médicas, famiiliares, centros residenciales...</div>
        </div>
    </div>
</div>

<script src="/assets/scripts/acordeon.js" type="text/javascript"></script>