{%- css %}{% include "public/css/cta.css" %}{% endcss %}
<div class="total mitmachen">
  <div class="fondo cubrir">
    <img src="/img/cta1.jpg" alt="">
  </div>
  <div class="contenido">
    <h3 class="titulo fs2">Tu familia merece el mejor cuidado: empieza hoy mismo</h3>
    <p class="fs0">En MÁS QUE INTERNAS sabemos que decidir sobre el cuidado de un ser querido no es fácil. Por eso, nuestro equipo está aquí para escucharte, entender tu situación particular y ayudarte a encontrar la solución perfecta. No esperes más para brindar a tu familia la tranquilidad y el cuidado personalizado que se merece. Con más de cinco años de experiencia y un enfoque humano que nos diferencia, estamos preparados para ser ese apoyo real que necesitas en tu día a día.</p>
    <a class="boton" href="/contacto/">Contáctanos sin compromiso</a>
  </div>
</div>