{%- css %}{% include "public/css/header.css" %}{% endcss %}
{%- js %}{% include "public/js/app.js" %}{% endjs %}
<!--Screen reader skip main nav-->
<a class="skip visually-hidden" aria-label="skip to main content" href="#main">Ir al contenido</a>

<section class="contactop">
  <div class="limites total contenido">
    <div class="normal datoscontactop">
      <a class="direccion" href="{{ client.address.mapLink }}">
        {% include "svg/map-marker-alt.svg" %}
        {{ client.address.lineOne }}. {{ client.address.zip }} - {{ client.address.city }}
      </a>
      <a class="telefono" href="tel:{{ client.tel.mobile }}">
        {% include "svg/phone.svg" %}
        {{ client.tel.mobileFormatted }}
      </a>
      <a class="email" href="mailto:{{ client.email }}">
        {% include "svg/envelope.svg" %}
        {{ client.email }}
      </a>
    </div>
  </div>
</section>
<header class="site-header sticky" role="banner">
  <div class="wrapper flex space-between">
    {% set activePage = page.url | url %}
    <a href="/" class="logo ajustar" {% if activePage === '/' %} aria-current="page" {% endif %}>
      {% if client.logo %}
        <img src="/img/{{ client.logo }}" alt="{{ client.siteName }}">
      {% else %}
        {{ client.siteName }}
      {% endif %}
    </a>
    <nav id="mainnav" class="navbar" aria-label="Main">
      <button class="hamburger" type="button" aria-label="Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
        <span class="visually-hidden">Menu</span>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      {% include "partials/menu-top.njk" %}
    </nav>

  </div>
</header>