<ul>
  {% for item in menus.menuPie.items %}
    <li class="nav-item{% if page.url != false and item.slug in page.url %} nav-item-active{% endif %}">
      <a href="/{{ item.slug }}/">{{ item.text }}</a>
    </li>
  {% endfor %}
</ul>